[submodule "3rd/luamake"]
	path = 3rd/luamake
	url = https://github.com/actboy168/luamake
[submodule "3rd/bee.lua"]
	path = 3rd/bee.lua
	url = https://github.com/actboy168/bee.lua
[submodule "3rd/lpeglabel"]
	path = 3rd/lpeglabel
	url = https://github.com/sqmedeiros/lpeglabel
[submodule "3rd/love-api"]
	path = 3rd/love-api
	url = https://github.com/love2d-community/love-api
[submodule "3rd/lovr-api"]
	path = 3rd/lovr-api
	url = https://github.com/bjornbytes/lovr-docs
[submodule "3rd/EmmyLuaCodeStyle"]
	path = 3rd/EmmyLuaCodeStyle
	url = https://github.com/CppCXY/EmmyLuaCodeStyle
[submodule "3rd/json.lua"]
	path = 3rd/json.lua
	url = https://github.com/actboy168/json.lua
[submodule "meta/3rd/OpenResty"]
	path = meta/3rd/OpenResty
	url = https://github.com/LuaCATS/openresty.git
[submodule "meta/3rd/bee"]
	path = meta/3rd/bee
	url = https://github.com/LuaCATS/bee.git
[submodule "meta/3rd/busted"]
	path = meta/3rd/busted
	url = https://github.com/LuaCATS/busted.git
[submodule "meta/3rd/Cocos4.0"]
	path = meta/3rd/Cocos4.0
	url = https://github.com/LuaCATS/cocos4.0.git
[submodule "meta/3rd/Defold"]
	path = meta/3rd/Defold
	url = https://github.com/LuaCATS/defold.git
[submodule "meta/3rd/Jass"]
	path = meta/3rd/Jass
	url = https://github.com/LuaCATS/jass.git
[submodule "meta/3rd/lfs"]
	path = meta/3rd/lfs
	url = https://github.com/LuaCATS/luafilesystem.git
[submodule "meta/3rd/love2d"]
	path = meta/3rd/love2d
	url = https://github.com/LuaCATS/love2d.git
[submodule "meta/3rd/lovr"]
	path = meta/3rd/lovr
	url = https://github.com/LuaCATS/lovr.git
[submodule "meta/3rd/luaecs"]
	path = meta/3rd/luaecs
	url = https://github.com/LuaCATS/luaecs.git
[submodule "meta/3rd/luassert"]
	path = meta/3rd/luassert
	url = https://github.com/LuaCATS/luassert.git
[submodule "meta/3rd/skynet"]
	path = meta/3rd/skynet
	url = https://github.com/LuaCATS/skynet.git
[submodule "meta/3rd/ffi-reflect"]
	path = meta/3rd/ffi-reflect
	url = git@github.com:LuaCATS/ffi-reflect.git
