[submodule "3rd/luamake"]
	path = 3rd/luamake
	url = https://github.com/actboy168/luamake
[submodule "3rd/bee.lua"]
	path = 3rd/bee.lua
	url = https://github.com/actboy168/bee.lua
[submodule "3rd/lpeglabel"]
	path = 3rd/lpeglabel
	url = https://github.com/sqmedeiros/lpeglabel
[submodule "3rd/love-api"]
	path = 3rd/love-api
	url = https://github.com/love2d-community/love-api
[submodule "3rd/lovr-api"]
	path = 3rd/lovr-api
	url = https://github.com/bjornbytes/lovr-docs
[submodule "3rd/EmmyLuaCodeStyle"]
	path = 3rd/EmmyLuaCodeStyle
	url = https://github.com/CppCXY/EmmyLuaCodeStyle
[submodule "3rd/luafilesystem"]
	path = 3rd/luafilesystem
	url = https://github.com/lunarmodules/luafilesystem
