name: test
on: [ push, pull_request ]
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-22.04,   target: linux,   platform: linux-x64 }
          - { os: macos-14,       target: darwin,  platform: darwin-arm64 }
          - { os: windows-latest, target: windows, platform: win32-x64 }
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actboy168/setup-luamake@master

      - name: Build
        run: luamake
